
// Top level site name/nav hack
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  >li {
    position: relative;
    display: block;
    >span {
      position: relative;
      display: block;
      padding: 10px 15px;
    }
  }
}

.header-top {
  padding: 0;
  .conference-title {
    background-color: @brand-primary;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .conference-date {
    color: white;
    font-size: 1.8rem;
  }
}